################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/tic_tac_toe/TicTacToe.Logic/obj/Debug/net8.0
/tic_tac_toe/TicTacToe.Logic/bin/Debug/net8.0
/tic_tac_toe/TicTacToe.Logic/.vs/TicTacToe.Logic
/.vs
/tic_tac_toe/TicTacToe.Logic/.vs/ProjectEvaluation
/tic_tac_toe/TicTacToe.Logic/obj/Release/net8.0
/game_of_life/GoL.Logic/.vs/GoL.Logic
/game_of_life/GoL.Logic/bin/Debug/net8.0
/game_of_life/GoL.Logic/obj
/color_helper/ColorHelper.Logic/.vs/ColorHelper.Logic
/color_helper/ColorHelper.Logic/bin/Debug/net8.0
/color_helper/ColorHelper.Logic/obj
/game_of_life/GoL.Logic/.vs/ProjectEvaluation
/color_helper/ColorHelper.Logic/.vs/ProjectEvaluation
/tamagochi/Tamagochi.Logic/.vs/Tamagochi.Logic
/tamagochi/Tamagochi.Logic/bin/Debug/net8.0
/tamagochi/Tamagochi.Logic/obj
/tamagochi/Tamagochi.Logic/.vs/ProjectEvaluation
/lambda_emoji/LambdaEmoji.Logic/obj
/lambda_emoji/LambdaEmoji.Logic/.vs/LambdaEmoji.Logic
/lambda_emoji/LambdaEmoji.Logic/bin/Debug/net8.0
/lambda_emoji/LambdaEmoji.Logic/.vs/ProjectEvaluation
/regex_helper/RegexHelper.Logic/.vs/RegexHelper.Logic
/regex_helper/RegexHelper.Logic/obj/Debug/net8.0
/regex_helper/RegexHelper.Logic/obj/Debug/net8.0
/regex_helper/RegexHelper.Logic/.vs/RegexHelper.Logic
/regex_helper/RegexHelper.Logic/.vs/RegexHelper.Logic
/regex_helper/RegexHelper.Logic/.vs/RegexHelper.Logic
/regex_helper/RegexHelper.Logic/obj/Debug/net8.0
/regex_helper/.vs
/regex_helper/RegexHelper.Logic/.vs/ProjectEvaluation
/regex_helper/RegexHelper.Logic/obj/Release/net8.0
/regex_helper/RegexHelper.Logic/obj
/regex_helper/RegexHelper.Logic/bin/Debug/net8.0
/animated_strings/AnimatedStrings.Logic/.vs/AnimatedStrings.Logic
/animated_strings/AnimatedStrings.Logic/bin/Debug/net8.0
/animated_strings/AnimatedStrings.Logic/obj
/animated_strings/AnimatedStrings.Logic/.vs/ProjectEvaluation
/window_manipulation/.vs
