################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/tic_tac_toe/TicTacToe.Logic/obj/Debug/net8.0
/tic_tac_toe/TicTacToe.Logic/bin/Debug/net8.0
/tic_tac_toe/TicTacToe.Logic/.vs/TicTacToe.Logic
/.vs
/tic_tac_toe/TicTacToe.Logic/.vs/ProjectEvaluation
/tic_tac_toe/TicTacToe.Logic/obj/Release/net8.0
/game_of_life/GoL.Logic/.vs/GoL.Logic
/game_of_life/GoL.Logic/bin/Debug/net8.0
/game_of_life/GoL.Logic/obj
/color_helper/ColorHelper.Logic/.vs/ColorHelper.Logic
/color_helper/ColorHelper.Logic/bin/Debug/net8.0
/color_helper/ColorHelper.Logic/obj
/game_of_life/GoL.Logic/.vs/ProjectEvaluation
/color_helper/ColorHelper.Logic/.vs/ProjectEvaluation
/tamagochi/Tamagochi.Logic/.vs/Tamagochi.Logic
/tamagochi/Tamagochi.Logic/bin/Debug/net8.0
/tamagochi/Tamagochi.Logic/obj
/tamagochi/Tamagochi.Logic/.vs/ProjectEvaluation
/lambda_emoji/LambdaEmoji.Logic/obj
/lambda_emoji/LambdaEmoji.Logic/.vs/LambdaEmoji.Logic
/lambda_emoji/LambdaEmoji.Logic/bin/Debug/net8.0
